# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Environment variables
.env

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# OS / editor files
.DS_Store
.vscode/

# Alembic / misc cache
*.log

.env